@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/badge";

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 4px;
}

.detail-row {
  min-height: unset;
}

.mat-column-actions {
  flex: 0 0 44px;
  padding-right: 0;
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  .mat-column-queueLength, .mat-column-status {
    display: none;
  }
}
