<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <button (click)="openPrinterForm()" mat-raised-button color="primary" class="mb-2">Dodaj drukarkę</button>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Wyszukaj po nazwie" (keyup)="printerFilter($event.target.value)">
                </mat-form-field>
            </div>
        </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z3"
             multiTemplateDataRows
             matSort
             matSortActive="name"
             matSortDisableClear
             matSortDirection="desc"
      >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
          <mat-cell *matCellDef="let printer">
            {{printer.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let printer"> {{printer.statusName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="inetaddr">
          <mat-header-cell *matHeaderCellDef>Adres sieciowy</mat-header-cell>
          <mat-cell *matCellDef="let printer"> {{printer.inetaddr}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="queueLength">
          <mat-header-cell *matHeaderCellDef>Ilość zadań w kolejce</mat-header-cell>
          <mat-cell *matCellDef="let printer"> {{printer.queueLength}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="inkLevel">
          <mat-header-cell *matHeaderCellDef>Poziom tuszu</mat-header-cell>
          <mat-cell *matCellDef="let printer">
            <mat-progress-bar class="d-none d-md-inline-block" mode="determinate" [value]="printer.inkLevelPercentage"></mat-progress-bar>
            &nbsp;{{printer.inkLevelPercentage}}%
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let printer" class="justify-content-end">
            <mat-menu #printerMenu="matMenu">
              <button mat-menu-item (click)="downloadReport(printer)">
                <mat-icon>cloud_download</mat-icon>
                <span>Raport</span>
              </button>
              <button mat-menu-item (click)="openPrinterForm(printer)">
                <mat-icon>edit</mat-icon>
                <span>Edytuj</span>
              </button>
              <button mat-menu-item class="mat-warn" (click)="removePrinter(printer)">
                <mat-icon>delete</mat-icon>
                <span>Usuń</span>
              </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="printerMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let printer" class="pt-0">
            <small class="text-muted">
              {{printer.description}}
            </small>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 class="border-0"
                 (click)="expandedElement = expandedElement === row ? null : row"
        ></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
      </table>

    </div>
  </div>
</div>
